ul {
    list-style: square;
}
li {
    line-height: $line-height;
    margin: 0;
}
.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}
