$white: #ffffff;
$lightblue: #e4ecef;
$blue: #54bcf8;
$green: #93d40a;
$black: #292929;
$font-color: #1b2432;
$header-color: $white;
$footer-color: $white;
$color-card-footer: #f1f8fa;
$color-card: $white;
$line-height: 1.5rem;