@import 'variables';
@import 'lists';
@import 'ui-elements';
@import 'animations';
html, body {
    background-color: $lightgray;
    color: $font-color;
    font-size: 14px;
    height: 100%;
    @media #{$large-up} {
        font-size: 16px;
    }
}
.app-header {
	background-color: $header-color;
    padding: 0.5em 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    img {
        height: 1.5rem;
    }
}
.app-body {
    min-height: 100%;
    height: auto !important; /* for IE 6 */
    height: 100%; /* for IE 6 */
    margin: -3rem auto -3rem;
    padding: 4rem 0;
}
.app-footer {
    clear: both;
    overflow: hidden;
    float: none;
    background-color: $footer-color;
    text-align: center;
    width: 100%;
    text-align:  center;
    font-size: 0.75em;
    padding: 1em;
    height: 3rem;
}
.menu {
    li {
        a {
            padding: 0;
            margin: .25em;
        }
    }
}
.small-button {
    @include button;
    padding: 0.5rem;
    background-color: $blue;
}
.small-button:hover {
    background-color: darken($blue, 10%);
}
.small-button:active {
    background-color: lighten($blue, 20%);
}

//tables 
tr {
    background-color: $white !important;
}
.button {
	background-color: $blue;
}
///////////////////////////////////

//CARDS
.card {
    @include grid-column(12);
    background-color: $color-card;
    width: 100%;
    margin: $line-height/3 0;
    border: 1px solid darken($lightgray, 5%);
    header, .card-header {
        @extend .row;
        border-bottom: 1px solid $light-gray;
        padding: $line-height $line-height;
    }
    .card-body {
        @extend .row;
        padding:  0 $line-height;
        margin: $line-height 0;
    }

    footer, .card-footer {
        @extend .row;
        padding: 0 $line-height;
        border-top: 1px solid $light-gray;
        //background-color: $color-card-footer;
        text-align: right;
        font-size: .8em;
        .small-button {
            margin: 0;
                &:last-child{
                    margin: 0 (-$line-height) 0 0;
                }
        }
    }
}
.icon-circle {
    display: inline-block;
    background-color: $blue;
    border-radius: 50%;
    line-height: $line-height;
    width: $line-height;
    color: $white;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
}
//PROPERTY LIST
.filters {
    text-align: center;
    margin-bottom: $line-height;
    padding-top: $line-height*0.35;
    @media #{$medium-up} {
        text-align: right;
    }
}
.property-filter {
	@extend .filter-center;
    @media #{$medium-up} {
        text-align: right;
        .filter-options-list {
            right: 0px;
            transform: none;
        }
    }
}
.property {
    @extend .card;
    position: relative;
    margin-top: 3rem;
    
    label {
        display: inline-block;
        line-height: $line-height;
        font-size: 1rem;
    }
    textarea {
        height: 18rem;
        resize: none;
        padding: 0 .5rem;
        margin: 0;
        border-color: #e6e6e6;
        border: 1px dotted $gray;        
    }
    input:not([disabled]), select:not([disabled]), textarea:not([disabled]) {
        animation-name: flash;
        animation-timing-function: ease-out;
        //animation-fill-mode: forwards;
        animation-duration: .5s;
    }
    input, select, [type='text'], [type='date'], [type='datetime'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'] {
        box-shadow: none;
        display: inline-block;
        width: auto;
        max-width: 7rem;
        height: 1.5rem;
        margin: 0;
        box-sizing: border-box;
        padding: 0 .5rem;
        border: 1px solid white;
        border-bottom: 1px dotted $gray;
    }
    input:disabled, input[readonly], textarea:disabled, textarea[readonly], select:disabled { 
        box-shadow: none;
        border-color: transparent;
        background-color: $color-card;
        cursor: default;
        background-image: none;
        padding: 0;
    }

}
.property-name {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0;
    @include grid-column(12);
}
.property-meta {
    @include grid-column(12);
    padding-top: $line-height;
    @media #{$medium-up} {
        @include grid-column(4);
        height: 21rem;
    }
     @media #{$large-up} {
        @include grid-column(3);
    }
}
.property-status {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: $gray;
    padding: .2em 1em;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
    
}
.property-description {
    @include grid-column(12);
    padding-top: $line-height;
    @media #{$medium-up} {
        @include grid-column(8);
    }
    @media #{$large-up} {
        @include grid-column(9);
    }
}

.list {
    padding: 3*$line-height 0;
}
.list-property {
    @extend .card;
}
.list-property-name {
    @include grid-column(12);
    font-weight: bold;
}
.list-property-seller {
    @include grid-column(12);
    font-style: italic;
    .phone, .email {
        color: $dark-gray;
        a {
            color: $dark-gray;
        }
    }
}
.list-status {
    @include grid-column(12);
    text-align: left;
    margin: $line-height/2 0 $line-height/4 0;
    @media #{$medium-up} {
        @include grid-column(6);
    }
}
.list-agents {
    @include grid-column(12);
    text-align: left;
    margin: $line-height/4 0 $line-height/2;
    @media #{$medium-up} {
        text-align: right;
        @include grid-column(6);
    }
}
.agent {
    @extend .icon-circle;
    margin-left: .2rem;
}

.offers {
    @extend .row;
}
.offer {
    text-align: center;
    @include grid-column(12);
    @media #{$medium-up} {
        @include grid-column(6);
        float: left !important;
    }
    @media #{$large-up} {
        @include grid-column(4);
    }
    .small-button {
        min-width: 6rem;
        margin-bottom: $line-height/2;
    }
}
.offer-details {
	list-style: none;
    padding: 0;
    margin: $line-height 0;
}
.offer-price {
    font-size: 2rem;
    line-height: 2*$line-height;
}
.offer-buyer {
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.green {
    @extend .bold;
    color: $green;
}
.red {
    @extend .bold;
    color: $red;
}
.bg-red {
    background-color: $red;
    color: $white;
}
.bg-blue {
    background-color: $blue;
    color: $white;
}
.bg-gray {
    background-color: $gray;
    color: $white;
}
.bg-green {
    background-color: $green;
    color: $white;
}
.red-button {
    @extend .button;
    background-color: $red;
    &:hover, &:focus {
        background-color: darken($red, 10%);
    }
    &:active {
        background-color: lighten($red, 20%);
    }
}
.blue-button {
    @extend .button;
    background-color: $blue;
    &:hover, &:focus {
        background-color: darken($blue, 10%);
    }
    &:active {
        background-color: lighten($blue, 20%);
    }
    
}
.gray-button {
    @extend .button;
    background-color: $black;
    &:hover, &:focus {
        background-color: darken($black, 10%);
    }
    &:active {
        background-color: lighten($black, 20%);
    }
}
// Viewing
.viewings {
    @extend .row;
}
.viewing {
    @include grid-column(12);
    .small-button {
        min-width: 6rem;
        margin-bottom: $line-height/2;
    }
}
.viewing-icon {
    display: block;
    float: left;
    margin: $line-height/5 $line-height;
}
.viewing-comments-add {
    display: none;
}
.button-comment-group {
    display: none;
}
.viewing-comments {
    border-top: 1px solid $lightgray;
}
.viewing-comment {
    text-align: right;
    margin-bottom: $line-height;
    margin-top: $line-height;
}
.comment-content {

    p:last-child {
        margin: 0;
    }
}
.comment-meta {
    text-align: right;
    color: darken($lightgray, 20%);
}