$white: #ffffff;
$blue: #0c63dc;
$green: #1eb44c;
$black: #292929;
$gray: #6f7884;
$red: #cb3155;

$lightblue: #dddde2;
$lightgray: #eceef3;
$font-color: #1b2432;
$header-color: $white;
$footer-color: $white;
$color-card-footer: #e8e8eb;
$color-card: $white;
$line-height: 1.5rem;